<div class="footer-buffer"></div>
<footer>
    <div class="disclaimer">
        <p class="copyright small-font">
            © 2022 Wannabe Animated
        </p>
    </div>
    <div class="footerLinks">
        <a href="https://www.instagram.com/wannabe.animated/?hl=en"><img class="linkIcons" src="/images/instagram.png"></a>
        <a href="https://www.tiktok.com/@wannabe.animated?lang=en"><img class="linkIcons" src="/images/tiktok.png"></a>
        <a href="https://www.youtube.com/channel/UCXw1w_yd60AjGI0k778zQ9g/featured"><img class="linkIcons" src="/images/youtube.png"></a>
    </div>
</footer>
<script src="/js/script.js"></script>