<nav>
    <div class="home">
        <a href="/" alt="return to landing page">Wannabe Animated</a>
    </div>
    <div class="navlinks">
        <ul>
            <li><a href="/clientWork">Client Work</a></li>
            <li><a href="/faq">FAQs</a></li>
            <li><a href="mailto:wannabe.animated@gmail.com" class="contact">Let's Work Together!</a></li>
        </ul>
    </div>
    <div class="top-right-absolute">
        <div class="navbtn">
            <div class="navbtn-line-top"></div>
            <div class="navbtn-line-mid"></div>
            <div class="navbtn-line-bottom"></div>
        </div>
    </div>
    <div class="nav-mobile">
        <ul>
            <li><a href="/clientWork">Client Work</a></li>
            <li><a href="/faq">FAQs</a></li>
            <li><a href="mailto:wannabe.animated@gmail.com" class="contact">Let's Work Together!</a></li>
        </ul>
    </div>
</nav>