<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <div style="margin: 10rem; display:flex; flex-direction: column; align-items: center; justify-content: center;">
            <h1 style="font-size:10rem;">4 0 4</h1>
            <h2>You're lost! Please <a href="/"><span style="color: #1774ff;">return to the main page.</span></a></h2>
        </div>        
    </body>
</html>