<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/headlanding.ejs') %>
    <body>
        <canvas class="webgl"></canvas>
        <div style="display: flex; justify-content: center;">
            <div class="loadingBar"></div>
            <div class="loadingText">Loading...</div>
        </div>
    </body>
</html>